<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /print3d
    RewriteCond %{REQUEST_URI} !^/print3d/index\.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
